Concesionario/concesionario.dtd

<!ELEMENT concesionario (coche*)>
<!ELEMENT coche (codigodecoche, marca, modelo, matricula, potencia, plazas, numerodepuertas)>
<!ELEMENT codigodecoche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numerodepuertas (#PCDATA)>